<div class="modal fade" id="modalStartNewGame" tabindex="-1" role="dialog" aria-labelledby="modalStartNewGameLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalStartNewGameLabel">
          <h4 class="card-title">
            Start New Game
          </h4>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form>
        <div class="modal-body">

          <div class="row">

            <div class="col-md">
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Match Title</label>
                <input type="text" class="form-control">
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary text-lower" data-dismiss="modal">Close</button>
          <button type="reset" class="btn btn-danger text-lower">Create Game</button>
        </div>
      </form>

    </div>
  </div>
</div>