<div class="menu-container">

  <div class="row container">

    <div class="col-md-6">

      <div class="card pointer ripple text-center" data-toggle="modal" data-target="#modalStartNewGame">
        <div class="card-body">
          <h4 class="card-title">
            Start New Game
          </h4>
          <h6 class="card-subtitle mb-2 text-muted text-lower">This Featue Allows You To Start New Game</h6>
        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="card pointer ripple text-center" data-toggle="modal" data-target="#modalJoinGame">
        <div class="card-body">
          <h4 class="card-title">
            Join To A Game
          </h4>
          <h6 class="card-subtitle mb-2 text-muted text-lower">This Featue Allows You To Join To A Game</h6>
        </div>
      </div>

    </div>


  </div>

</div>

<app-start-game></app-start-game>
<app-join-game></app-join-game>